<!DOCTYPE html>S
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRL chat</title>
    <script src="/public/javascripts/chat.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    
</body>
</html>